@import '../../style/var.scss';

.header{
    width: 100%;
    height: $headerHeight;
    position: fixed;
    left: 0;
    top:0;
    background: #FFF;
    box-shadow: 0 0 8px $shadow;
    .container, .row, .width25, .width50{
        height: 100%;
        line-height: $headerHeight - $unit;
    }
}
.header__brand__link{
    height: 100%;
    display: flex;
    align-items: center;
}
.header__logo{
    display: inline-block;
    fill: $accent;
    vertical-align: middle;
}

.header__nav{}

.header__nav__item{
    display: inline-block;
    padding: 0 $unit*2;
    text-decoration: none;
    height: 100%;
    box-sizing: border-box;
    color: #000;
    transition: $transition;
    &:hover{
        background: $light;
    }
}
.header__cta{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}