@import 'var.scss';

img{
	width: 100%;
	height: auto;
	position: relative;
}
.c{
	box-sizing: border-box;
	min-width: $unit*35;
	max-width: $unit*146;
	width: 100%;
	margin: 0 auto;
	padding: 0 $unit*2;
}
.container{
	@extend .c;
	overflow: hidden;
}
.container-no-overflow{
	@extend .c;
}
.row{
	overflow: hidden;
	margin-left: - $unit*2;
}
.width{
	display: block;
	float: left;
	box-sizing: border-box;
	padding-left: $unit*3;
}
.width20{
	@extend .width;
	width: 20%;
}
.width25{
	@extend .width;
	width: 25%;
}
.width30{
	@extend .width;
	width: 30%;
}
.width33{
	@extend .width;
	width: 33.333%;
}
.width40{
	@extend .width;
	width: 40%;
}
.width50{
	@extend .width;
	width: 50%;
}
.width60{
	@extend .width;
	width: 60%;
}
.width70{
	@extend .width;
	width: 70%;
}
.width75{
	@extend .width;
	width: 75%;
}
.width80{
	@extend .width;
	width: 80%;
}
.width100{
	@extend .width;
	width: 100%;
}
.width-s-100{
	@extend .width;
	width: 100%;
}
.has-2-columns{
	@extend .row;
	.wp-block-column{
		@extend .width50;
	}
}
.has-3-columns{
	@extend .row;
	.wp-block-column{
		@extend .width33;
	}
}
.has-4-columns{
	@extend .row;
	.wp-block-column{
		@extend .width25;
	}
}
.header_btn{
	width: auto !important;
}
.text-left{
	text-align: left;
}
.text-center{
	text-align: center;
}
.text-right{
	text-align:right;
}
.text-bold{
	font-weight: bold;
}
.section_base{
	overflow: hidden;
	margin: $unit*4 auto;
	padding: $unit*4 0;
}
@media only screen and (min-width: $phone) and (max-width: $tablet){
	.row{
		margin-left: 0;
	}
	footer{
		.width25{
			margin-left: $unit*2;
		}
	}
	.width20, .width25, .width30, .width33, .width40, .width50, .width60, .width70, .width80, .width100{
		width: 100%;
		padding: 0;
	}
	.has-2-columns{
		.wp-block-column{
			width: 100%;
		}
	}
	.has-3-columns{
		.wp-block-column{
			width: 100%;
		}
	}
	.has-4-columns{
		.wp-block-column{
			width: 100%;
		}
	}
}
@media only screen and (min-width: $tablet) and (max-width: $smallScreen){

}
@media only screen and (min-width: $smallScreen) and (max-width: $mediumScreen){

}
